*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header */
header{
    background-color: rgb(232, 115, 12);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.logo {
    width: 25%;
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 5%;
}
.logo i{
    font-size: 30px;
}
.logo .meal_name{
    font-size
}
 
#menu_bar{
    font-size: 25px;
    position: absolute;
    left: 90rem;
    top: 1rem;
    padding: 10px;
    border-radius : 5px;
    z-index: 2;
}
#menu_bar:hover{
    cursor: pointer;
}


/* hero-banner */
.hero-banner{
    background-image: url(./images/Banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    filter: brightness(25%);
}
.banner-content{
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    left: 35%;
    bottom: 55%;
    filter: brightness(100%);
    transform: translate(20% ,50%);

}
#receipes-input{ 
    width: 15rem;
    font-size: 15px;
    padding: 15px;
    display: flex;
    border-radius: 30px;
}
#Search{
    border: 1px solid white;
    background-color: orange;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
#Search:hover{
    background-color: #fff;
}
.banner_info{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 23%;
    bottom: 40%;
    letter-spacing: 5px;
    text-align: center;
}
.banner_info p{
    padding-top: 20px;
}

/* categories */
.title{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin-top: 60px;
   
}
.title::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin-top: 10px;
    background-color: orange;
}
.category{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6rem;
    position: relative;
}
.category img{
    width: 250px;
    border: 1px solid white;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    -webkit-box-shadow: 1px 1px 11px 1px rgba(122, 123, 128, 1);
-moz-box-shadow: 1px 1px 11px 1px rgba(122, 123, 128, 1);
box-shadow: 1px 1px 11px 1px rgba(122, 123, 128, 1);
}
.category img:hover{
    transform: scale(1.05);
}
.category p{
    font-size: 15px;
    background:orange;
    position: absolute;
    margin-left: 23px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 7px;
    z-index: 1;    
}

/* menubar */
.menu_list{
    width: 15%;
    height: 70vh;
    list-style: none;
    padding-top: 3rem;
    position: absolute;
    right: 0;
    top: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    transition: 0.5s ease-in;
    display: none;

}

.menu_list li{
    width: 60%;
    text-align: center;
    padding: 8px;
    margin: 5px auto;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
    border-radius: 5px;
}
.menu_list li:hover{
    background-color: orange;
    transform: scale(1.2);
    cursor: pointer;
}
